
body {
    background-color: rgb(65, 61, 61);
    font-family: 'Patua One', cursive;
}

h1{
    font-family: 'Monoton', cursive;
    background-color: rgb(247, 242, 247);
    font-weight: bold;
    font-size: 40px;
    border-block: border-box;
    border: dotted black 2px;
    padding: 30px;
    margin-top: 10px;
    margin-bottom: 1px;
    text-align: center
}

.card{
    margin: 30px;
    background-color: rgb(247, 242, 247);
}

p{
    font-size: 20px;
    font-family: 'Patua One', cursive;
    margin: 40px;
    color: black;
}

h3{
    font-size: 35px;
    font-family: 'Patua One', cursive;
    color: black;
}

#directions-text{
    font-weight: bold;
    font-size: 25px;
}

#alert,
#show{
    color: rgb(197, 101, 101);
}