
body {
    background-color: rgb(248, 242, 242);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h1{
    font-family: 'Monoton', cursive;
    font-weight: bold;
    font-size: 30px;
    border-block: border-box;
    border: dotted black 2px;
    padding: 30px;
    margin-top: 10px;
    margin-bottom: 1px;
    text-align: center
}

.container{
    border-block: border-box;
    border: dotted black 1px;
    display: block;
    width: auto;
    height: 400px;
    text-align: center; 
}

p{
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    margin: 40px;
    color: black;
}